#st{
  background-image: url(mypic.jpg);
  background-position: center;
  background-size: cover;
}

.heading{
  color: #452521;
  text-align: center;
  font-size: 80px;
  background-color: lightgrey;
}

#wizworld{
  margin-left: 34.5%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}

.container > div{
  font-size: 40px;
  margin: 60px;
  padding: 20px;
  height: 150px
  width: 200px;
  border-radius: 15px;
  box-shadow: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container > div > a{
  text-decoration: none
}

.container > div:hover{
  background-blend-mode: hard-light;
  color: black;
  font-size: 45px;
}

.al{
  background-image:url(alohamora.jpg);
  color: white;
  background-color: lightgrey;
  font-style: normal;
  font-family: Papyrus;
  font-weight: bold;
}

.wl{
  background-image: url(feather.jpg);
  color: white;
  font-style: normal;
  font-family: Segoe Script;
  font-weight: bold;
}

.ex{
  background-image: url(expelliarmus.jpg);
  color: white;
  font-style: normal;
  font-family: Freestyle Script;
  font-size: 50px;

}

.ex:hover{
  font-size: 57px
}

.lu{
  background-image: url(lumos.jpg);
  color:white;
  font-family: Imprint MT Shadow;
  font-style: italic;
}

.ep{
  background-image: url(patronus.jpg);
  color: lightgrey;
  font-family: Kristen ITC;
  font-style: normal;

}
